= form_for @user, :html => { :class => 'edit_user' } do |f|
  -if @user.errors.any?
    .error
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :fname, :placeholder => 'First name'
  = f.text_field :lname, :placeholder => 'Last name'
  = f.text_field :email, :placeholder => 'Email', :disabled => (true unless @user.new_record?)
  = f.submit 'Save'
  = link_to 'All users', users_path, :class => 'button'
- unless @user.new_record?
  = button_to 'Destroy', user_path(@user), :method => :delete, :class => 'destroy'
.clr
